:root {
    --card-color: rgb(252, 243, 252);
    --background: rgb(247, 195, 223);
}

html, body {
    min-height: 100vh;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

body {
    display: grid;
    grid-template-columns: 15vw 1fr 10vw;
    grid-template-rows: 15vh 1fr;
    background-color: var(--background);
}

header {
    grid-column: 1 / 4;
}

.material-icons-outlined {
    font-size: 24px;
    margin: 0 6px 0 0;
}

.books-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.floating-action-button {
    border: none;
    background-color: rgb(184, 43, 197);
    padding: 12px 24px;
    border-radius: 50px;
    font-size: medium;
}

.new-book {
	position: fixed;
	bottom: 3vh;
	right: 14vw;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.item {
    width: 350px;
    margin: 6px;
    position: relative;
    background-color: var(--card-color);
    border-radius: 10px;
    box-shadow: 0 0 10px -2px gray;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: #4c4c4c;
}

.card-content {
    margin: 8px 12px;
}

.title{
    color: black;
    margin: 16px 12px;
}

.rating {
    margin-top: 32px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.rating-star {
    color: gold;    
    font-size: 26px;
}

