:root {
    --card-color: rgb(252, 243, 252);
    --background: rgb(247, 195, 223);
}

html, body {
    min-height: 100vh;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    background-color: var(--background);
}

main {
    height: 100%;
    display: grid;
    grid-template-columns: 15vw 1fr 20vw;
    grid-template-rows: 15vh 1fr;
}

header {
    grid-column: 1 / 4;
}

.material-icons-outlined {
    font-size: 24px;
    margin: 0 6px 0 0;
}

.books-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.blur {
    filter: blur(4px);
}

.book-insert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    margin: 48px;
    width: calc(100% - 96px);
    height: calc(100% - 96px);
    background-color: red;
}

.floating-action-button {
    border: none;
    background-color: rgb(184, 43, 197);
    padding: 12px 24px;
    border-radius: 50px;
    font-size: medium;
}

.new-book {
	position: fixed;
	bottom: 3vh;
	right: 24vw;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.item {
    width: 350px;
    height: 350px;
    margin: 6px;
    position: relative;
    background-color: var(--card-color);
    border-radius: 10px;
    box-shadow: 0 0 10px -2px gray;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: #4c4c4c;
}

.card-content {
    margin: 8px 20px;
}

.title{
    color: black;
    margin-top: 16px;
    margin-bottom: 16px;
}

.rating {
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
}

.rating-star {
    color: gold;    
    font-size: 26px;
}

.vertical-line {
    border-left: 1px solid #707070;
}

.book-info {
    position: fixed;
    top: 96px;
    left: 30%;
    width: 40%;
    height: 80%;
    background-color: red;
    display: none; /* toggle to flex */
    flex-direction: column;
    align-items: stretch;
}

.book-info-content {
    height: 48px;
    margin: 6px 12px;
}

.flex-end {
    margin-top: auto;
}