html, body {
    min-height: 100vh;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.material-icons-outlined {
    font-size: 24px;
    margin: 0 6px 0 0;
}

.background {
    background-color:rgb(247, 195, 223);
}

.books-container {
    width: 40vw;
    display: flex;
    align-items: flex-start;
}

.floating-action-button {
    border: none;
    background-color: rgb(184, 43, 197);
    padding: 12px 24px;
    border-radius: 50px;
    font-size: medium;
}

.new-book {
	position: fixed;
	bottom: 3vh;
	right: 33vw;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.book-record {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 20px;
    border: 1px solid #555;
    margin: 2px;
    min-width: 7vw;
}

.card-content {
    margin: 3px 2px;
}

.is-read {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.book-status {
    margin: 0 6px;
    padding: 4px;
    border-radius: 4px;
}

.read {
    background-color: greenyellow;
    color: black;
}

.not-read {
    background-color: red;
    color: white;
}

.delete-record {
    border: none;
    display: flex;
    align-items: center;
    font-size: medium;
    margin-top: 6px;
    background-color: violet;
}